# Project 1 Starter Notebook

This notebook is meant to help you start up easily.
It will assume you have downloaded the relevant data.
For more information about the competition, refer to the kaggle pages.

Let's load in and inspect all data first:

In [96]:
import pandas as pd
import numpy as np
import datetime

# read in data
bicycle_data_2021 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-coupure-links-2021-gent.csv", sep = ";")
bicycle_data_2022 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-coupure-links-2022-gent.csv", sep = ";")
bicycle_data_2023 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-coupure-links-2023-gent.csv", sep = ";")

isabellakaai_2022 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-isabellakaai-2022-gent.csv", sep = ";")
isabellakaai_2023 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-isabellakaai-2023-gent.csv", sep = ";")

zuidparklaan_2022 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-zuidparklaan-2022-gent.csv", sep = ";")
zuidparklaan_2023 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-zuidparklaan-2023-gent.csv", sep = ";")

visserij_2022 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-visserij-2022-gent.csv", sep = ";")
visserij_2023 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-visserij-2023-gent.csv", sep = ";")

groendreef_2022 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-groendreef-2022-gent.csv", sep = ";")
groendreef_2023 = pd.read_csv("input/bicycle-counter-prediction/fietstelpaal-groendreef-2023-gent.csv", sep = ";")

In [97]:
bicycle_data = pd.concat([bicycle_data_2021, bicycle_data_2022, bicycle_data_2023])

isabellakaai = pd.concat([isabellakaai_2022, isabellakaai_2023])
isabellakaai = isabellakaai.rename(columns = {"Totaal": "Totaal_IK"})

zuidparklaan = pd.concat([zuidparklaan_2022, zuidparklaan_2023])
zuidparklaan = zuidparklaan.rename(columns = {"Totaal": "Totaal_ZPL"})

visserij = pd.concat([visserij_2022, visserij_2023])
visserij = visserij.rename(columns = {"Totaal": "Totaal_V"})

groendreef = pd.concat([groendreef_2022, groendreef_2023])
groendreef = groendreef.rename(columns = {"Totaal": "Totaal_GD"})

In [98]:

bicycle_data = bicycle_data.merge(isabellakaai.loc[:, ["Ordening", "Totaal_IK"]], how = "right")
bicycle_data = bicycle_data.merge(zuidparklaan.loc[:, ["Ordening", "Totaal_ZPL"]], how = "left")
bicycle_data = bicycle_data.merge(visserij.loc[:, ["Ordening", "Totaal_V"]], how = "left")
bicycle_data = bicycle_data.merge(groendreef.loc[:, ["Ordening", "Totaal_GD"]], how = "left")
print(bicycle_data.head())

  ï»¿Code        Locatie       Datum Uur5Minuten                   Ordening  \
0   COU  Coupure-Links  2022-04-01     0:00:00  2022-04-01T00:00:00+02:00
1   COU  Coupure-Links  2022-04-01     0:05:00  2022-04-01T00:05:00+02:00
2   COU  Coupure-Links  2022-04-01     0:10:00  2022-04-01T00:10:00+02:00
3   COU  Coupure-Links  2022-04-01     0:15:00  2022-04-01T00:15:00+02:00
4   COU  Coupure-Links  2022-04-01     0:20:00  2022-04-01T00:20:00+02:00

   Totaal  Tegenrichting  Hoofdrichting  Totaal_IK  Totaal_ZPL  Totaal_V  \
0    13.0            3.0           10.0          4         2.0         9
1    14.0            9.0            5.0          2         3.0         9
2    12.0            4.0            8.0         11         4.0        11
3    14.0           10.0            4.0          4         1.0         5
4     8.0            5.0            3.0          2         1.0         3

   Totaal_GD
0       10.0
1        5.0
2        6.0
3        4.0
4        5.0

In [99]:
bicycle_data["Date_hour"] = bicycle_data['Ordening'].str.extract(r'^(.*?T\d{2})..')
bicycle_data = bicycle_data.groupby(['Datum', 'Date_hour']).agg({'Totaal': 'sum', 'Totaal_IK': "sum", 
                                                                 'Totaal_ZPL': "sum", 'Totaal_V': "sum",
                                                                 'Totaal_GD': "sum"}).reset_index()
print(bicycle_data.shape)
print(min(bicycle_data["Date_hour"]))
print(max(bicycle_data["Date_hour"]))
bicycle_data.head()

(11687, 7)
2022-04-01T00
2023-07-31T23

,Datum,Date_hour,Totaal,Totaal_IK,Totaal_ZPL,Totaal_V,Totaal_GD
0,2022-04-01,2022-04-01T00,137.0,57,25.0,72,63.0
1,2022-04-01,2022-04-01T01,89.0,36,16.0,28,26.0
2,2022-04-01,2022-04-01T02,49.0,24,12.0,22,21.0
3,2022-04-01,2022-04-01T03,41.0,24,6.0,5,13.0
4,2022-04-01,2022-04-01T04,48.0,14,7.0,17,11.0

In [100]:
train_rawdata = pd.read_csv("input/bicycle-counter-prediction/train_data.csv")
print(train_rawdata.shape)
print(min(train_rawdata["Date_hour"]))
print(max(train_rawdata["Date_hour"]))
train_rawdata.head()

(4343, 2)
2023-01-01T00
2023-06-30T23

       Date_hour  Totaal
0  2023-01-01T00   111.0
1  2023-01-01T01   201.0
2  2023-01-01T02   170.0
3  2023-01-01T03   144.0
4  2023-01-01T04   155.0

In [101]:
test_rawdata = pd.read_csv("input/bicycle-counter-prediction/test_data.csv")
print(test_rawdata.shape)
print(min(test_rawdata["Date_hour"]))
print(max(test_rawdata["Date_hour"]))
test_rawdata.head()

(744, 2)
2023-07-01T00
2023-07-31T23

   Id      Date_hour
0   0  2023-07-01T00
1   1  2023-07-01T01
2   2  2023-07-01T02
3   3  2023-07-01T03
4   4  2023-07-01T04

In [102]:
# read in data
weather_rawdata = pd.read_csv("input/bicycle-counter-prediction/open-meteo-51.10N3.70E13m.csv", skiprows=2).dropna()
print(weather_rawdata.shape)
print(weather_rawdata.isna().sum())
weather_rawdata.head()

(33312, 6)
time                         0
temperature_2m (Â°C)          0
apparent_temperature (Â°C)    0
precipitation (mm)           0
cloudcover (%)               0
is_day ()                    0
dtype: int64

,time,temperature_2m (Â°C),apparent_temperature (Â°C),precipitation (mm),cloudcover (%),is_day ()
0,2020-01-01T00:00,3.3,-0.1,0.0,44.0,0
1,2020-01-01T01:00,2.8,-0.6,0.0,17.0,0
2,2020-01-01T02:00,2.5,-1.0,0.0,10.0,0
3,2020-01-01T03:00,1.9,-1.6,0.0,3.0,0
4,2020-01-01T04:00,1.4,-2.2,0.0,0.0,0

In [103]:
school_holidays_data = pd.read_csv("input/bicycle-counter-prediction/school_holidays.csv", sep = ";")
school_holidays_data.head()

                     name       start         end
0  Christmas holiday 2020  2020-12-21  2021-01-03
1       Spring break 2021  2021-02-15  2021-02-21
2     Easter holiday 2021  2021-04-05  2021-04-18
3     Summer holiday 2021  2021-07-01  2021-08-31
4       Autumn break 2021  2021-11-01  2021-11-07

In [104]:
import holidays
belgian_holidays = holidays.Belgium(years=[2021, 2022, 2023])
print(belgian_holidays)

{datetime.date(2021, 1, 1): 'Nieuwjaar', datetime.date(2021, 4, 4): 'Pasen', datetime.date(2021, 4, 5): 'Paasmaandag', datetime.date(2021, 5, 1): 'Dag van de Arbeid', datetime.date(2021, 5, 13): 'O. L. H. Hemelvaart', datetime.date(2021, 5, 23): 'Pinksteren', datetime.date(2021, 5, 24): 'Pinkstermaandag', datetime.date(2021, 7, 21): 'Nationale feestdag', datetime.date(2021, 8, 15): 'O. L. V. Hemelvaart', datetime.date(2021, 11, 1): 'Allerheiligen', datetime.date(2021, 11, 11): 'Wapenstilstand', datetime.date(2021, 12, 25): 'Kerstmis', datetime.date(2022, 1, 1): 'Nieuwjaar', datetime.date(2022, 4, 17): 'Pasen', datetime.date(2022, 4, 18): 'Paasmaandag', datetime.date(2022, 5, 1): 'Dag van de Arbeid', datetime.date(2022, 5, 26): 'O. L. H. Hemelvaart', datetime.date(2022, 6, 5): 'Pinksteren', datetime.date(2022, 6, 6): 'Pinkstermaandag', datetime.date(2022, 7, 21): 'Nationale feestdag', datetime.date(2022, 8, 15): 'O. L. V. Hemelvaart', datetime.date(2022, 11, 1): 'Allerheiligen', datetime.date(2022, 11, 11): 'Wapenstilstand', datetime.date(2022, 12, 25): 'Kerstmis', datetime.date(2023, 1, 1): 'Nieuwjaar', datetime.date(2023, 4, 9): 'Pasen', datetime.date(2023, 4, 10): 'Paasmaandag', datetime.date(2023, 5, 1): 'Dag van de Arbeid', datetime.date(2023, 5, 18): 'O. L. H. Hemelvaart', datetime.date(2023, 5, 28): 'Pinksteren', datetime.date(2023, 5, 29): 'Pinkstermaandag', datetime.date(2023, 7, 21): 'Nationale feestdag', datetime.date(2023, 8, 15): 'O. L. V. Hemelvaart', datetime.date(2023, 11, 1): 'Allerheiligen', datetime.date(2023, 11, 11): 'Wapenstilstand', datetime.date(2023, 12, 25): 'Kerstmis'}

In [105]:
import datetime
school_holidays = {}
for index, row in school_holidays_data.iterrows():
    school_holidays[row['name']] = [datetime.datetime.strptime(row['start'], '%Y-%m-%d'), datetime.datetime.strptime(row['end'], '%Y-%m-%d')]
print(school_holidays)

{'Christmas holiday 2020': [datetime.datetime(2020, 12, 21, 0, 0), datetime.datetime(2021, 1, 3, 0, 0)], 'Spring break 2021': [datetime.datetime(2021, 2, 15, 0, 0), datetime.datetime(2021, 2, 21, 0, 0)], 'Easter holiday 2021': [datetime.datetime(2021, 4, 5, 0, 0), datetime.datetime(2021, 4, 18, 0, 0)], 'Summer holiday 2021': [datetime.datetime(2021, 7, 1, 0, 0), datetime.datetime(2021, 8, 31, 0, 0)], 'Autumn break 2021': [datetime.datetime(2021, 11, 1, 0, 0), datetime.datetime(2021, 11, 7, 0, 0)], 'Christmas holiday 2021': [datetime.datetime(2021, 12, 27, 0, 0), datetime.datetime(2022, 1, 9, 0, 0)], 'Spring break 2022': [datetime.datetime(2022, 2, 28, 0, 0), datetime.datetime(2022, 3, 6, 0, 0)], 'Easter holiday 2022': [datetime.datetime(2022, 4, 4, 0, 0), datetime.datetime(2022, 4, 18, 0, 0)], 'Summer holiday 2022': [datetime.datetime(2022, 7, 1, 0, 0), datetime.datetime(2022, 8, 31, 0, 0)], 'Autumn break 2022': [datetime.datetime(2022, 10, 31, 0, 0), datetime.datetime(2022, 11, 6, 0, 0)], 'Christmas holiday 2022': [datetime.datetime(2022, 12, 26, 0, 0), datetime.datetime(2023, 1, 8, 0, 0)], 'Spring break 2023': [datetime.datetime(2023, 2, 20, 0, 0), datetime.datetime(2023, 2, 26, 0, 0)], 'Easter holiday 2023': [datetime.datetime(2023, 4, 3, 0, 0), datetime.datetime(2023, 4, 16, 0, 0)], 'Summer holiday 2023': [datetime.datetime(2023, 7, 1, 0, 0), datetime.datetime(2023, 8, 31, 0, 0)], 'Autumn break 2023': [datetime.datetime(2023, 10, 30, 0, 0), datetime.datetime(2023, 11, 5, 0, 0)], 'Christmas holiday 2023': [datetime.datetime(2023, 12, 25, 0, 0), datetime.datetime(2024, 1, 7, 0, 0)]}

The weather data downloaded from open meteo carries times in a slightly different format than the bicycle counter data.
Note that you are encouraged to create and download your own weather data with more features.
The following code converts this data:

In [106]:
from datetime import timedelta

weather_data = weather_rawdata.copy()
weather_data.columns = weather_data.columns.str.split(' ').str[0]
weather_data["Date_hour"] = weather_data["time"].str.split(':', expand = True)[0]
weather_data = weather_data.drop("time", axis = 1)
weather_data = weather_data[(min(bicycle_data["Date_hour"]) <= weather_data['Date_hour']) & (weather_data['Date_hour'] <= max(test_rawdata["Date_hour"]))]
date_time = pd.to_datetime(weather_data['Date_hour'])
weather_data["date"] = date_time.dt.date

print(weather_data.shape)
print(min(weather_data["Date_hour"]))
print(max(weather_data["Date_hour"]))
weather_data.head()

(11688, 7)
2022-04-01T00
2023-07-31T23

,temperature_2m,apparent_temperature,precipitation,cloudcover,is_day,Date_hour,date
19704,1.6,-3.4,0.2,86.0,0,2022-04-01T00,2022-04-01
19705,1.1,-4.6,0.5,100.0,0,2022-04-01T01,2022-04-01
19706,0.8,-4.9,0.6,98.0,0,2022-04-01T02,2022-04-01
19707,0.7,-5.1,0.6,100.0,0,2022-04-01T03,2022-04-01
19708,0.5,-5.3,0.7,100.0,0,2022-04-01T04,2022-04-01

### Feature engineering

In [107]:
feature_data = weather_data.copy()
feature_data['weekday'] = date_time.dt.strftime('%A')
feature_data['hour'] = date_time.dt.hour
feature_data['hour_sin'] = np.sin(np.pi * feature_data['hour'] / 24)
feature_data["month"] = date_time.dt.month
def get_season(date):
    month = date.month
    if 3 <= month <= 5:
        return 'Spring'
    elif 6 <= month <= 8:
        return 'Summer'
    elif 9 <= month <= 11:
        return 'Fall'
    else:
        return 'Winter'
feature_data['season'] = feature_data['date'].apply(get_season)
feature_data['next_day'] = date_time + timedelta(days=1)
feature_data['prev_day'] = date_time - timedelta(days=1)
print(feature_data.shape)
feature_data.head()

(11688, 14)

,temperature_2m,apparent_temperature,precipitation,cloudcover,is_day,Date_hour,date,weekday,hour,hour_sin,month,season,next_day,prev_day
19704,1.6,-3.4,0.2,86.0,0,2022-04-01T00,2022-04-01,Friday,0,0.000000,4,Spring,2022-04-02 00:00:00,2022-03-31 00:00:00
19705,1.1,-4.6,0.5,100.0,0,2022-04-01T01,2022-04-01,Friday,1,13.052619,4,Spring,2022-04-02 01:00:00,2022-03-31 01:00:00
19706,0.8,-4.9,0.6,98.0,0,2022-04-01T02,2022-04-01,Friday,2,25.881905,4,Spring,2022-04-02 02:00:00,2022-03-31 02:00:00
19707,0.7,-5.1,0.6,100.0,0,2022-04-01T03,2022-04-01,Friday,3,38.268343,4,Spring,2022-04-02 03:00:00,2022-03-31 03:00:00
19708,0.5,-5.3,0.7,100.0,0,2022-04-01T04,2022-04-01,Friday,4,50.000000,4,Spring,2022-04-02 04:00:00,2022-03-31 04:00:00

In [108]:
feature_data['is_school_hours'] = ((date_time.dt.hour >= 8) & (date_time.dt.hour <= 17)).astype(int)
feature_data['is_weekend'] = (feature_data['weekday'].isin(["Saturday", "Sunday"])).astype(int)
feature_data['is_university_lessons'] = (weather_data["Date_hour"].apply(lambda dt:('02-13' <= dt <= '04-01') or ('04-17' <= dt <= '05-20'))).astype(int)
feature_data['is_Ghent_event'] = (weather_data["Date_hour"].apply(lambda dt:('07-14' <= dt <= '07-23'))).astype(int)

print(feature_data.shape)
feature_data.head()

(11688, 18)

,temperature_2m,apparent_temperature,precipitation,cloudcover,is_day,Date_hour,date,weekday,hour,hour_sin,month,season,next_day,prev_day,is_school_hours,is_weekend,is_university_lessons,is_Ghent_event
19704,1.6,-3.4,0.2,86.0,0,2022-04-01T00,2022-04-01,Friday,0,0.000000,4,Spring,2022-04-02 00:00:00,2022-03-31 00:00:00,0,0,0,0
19705,1.1,-4.6,0.5,100.0,0,2022-04-01T01,2022-04-01,Friday,1,13.052619,4,Spring,2022-04-02 01:00:00,2022-03-31 01:00:00,0,0,0,0
19706,0.8,-4.9,0.6,98.0,0,2022-04-01T02,2022-04-01,Friday,2,25.881905,4,Spring,2022-04-02 02:00:00,2022-03-31 02:00:00,0,0,0,0
19707,0.7,-5.1,0.6,100.0,0,2022-04-01T03,2022-04-01,Friday,3,38.268343,4,Spring,2022-04-02 03:00:00,2022-03-31 03:00:00,0,0,0,0
19708,0.5,-5.3,0.7,100.0,0,2022-04-01T04,2022-04-01,Friday,4,50.000000,4,Spring,2022-04-02 04:00:00,2022-03-31 04:00:00,0,0,0,0

In [109]:
feature_data['is_public_holiday'] = (date_time.dt.date.isin(belgian_holidays)).astype(int)
feature_data['is_bridge_day'] = (feature_data['weekday'].isin(["Monday", "Friday"]) & feature_data['next_day'].dt.date.isin(belgian_holidays) | feature_data['prev_day'].dt.date.isin(belgian_holidays)).astype(int)
is_school_holiday = [0] * len(date_time)
for i, check_date in enumerate(date_time):
    for holiday, date_range in school_holidays.items():
        start_date = date_range[0]
        end_date = date_range[1]
        if start_date <= check_date <= end_date:
            is_school_holiday[i] = 1
feature_data["is_school_holiday"] = is_school_holiday
print(feature_data.shape)
feature_data.head()

(11688, 21)

,temperature_2m,apparent_temperature,precipitation,cloudcover,is_day,Date_hour,date,weekday,hour,hour_sin,...,season,next_day,prev_day,is_school_hours,is_weekend,is_university_lessons,is_Ghent_event,is_public_holiday,is_bridge_day,is_school_holiday
19704,1.6,-3.4,0.2,86.0,0,2022-04-01T00,2022-04-01,Friday,0,0.000000,...,Spring,2022-04-02 00:00:00,2022-03-31 00:00:00,0,0,0,0,0,0,0
19705,1.1,-4.6,0.5,100.0,0,2022-04-01T01,2022-04-01,Friday,1,13.052619,...,Spring,2022-04-02 01:00:00,2022-03-31 01:00:00,0,0,0,0,0,0,0
19706,0.8,-4.9,0.6,98.0,0,2022-04-01T02,2022-04-01,Friday,2,25.881905,...,Spring,2022-04-02 02:00:00,2022-03-31 02:00:00,0,0,0,0,0,0,0
19707,0.7,-5.1,0.6,100.0,0,2022-04-01T03,2022-04-01,Friday,3,38.268343,...,Spring,2022-04-02 03:00:00,2022-03-31 03:00:00,0,0,0,0,0,0,0
19708,0.5,-5.3,0.7,100.0,0,2022-04-01T04,2022-04-01,Friday,4,50.000000,...,Spring,2022-04-02 04:00:00,2022-03-31 04:00:00,0,0,0,0,0,0,0

In [110]:
dummies = pd.concat([pd.get_dummies(feature_data.weekday), pd.get_dummies(feature_data.season)], axis = 1)
dummies.head()

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Fall,Spring,Summer,Winter
19704,1,0,0,0,0,0,0,0,1,0,0
19705,1,0,0,0,0,0,0,0,1,0,0
19706,1,0,0,0,0,0,0,0,1,0,0
19707,1,0,0,0,0,0,0,0,1,0,0
19708,1,0,0,0,0,0,0,0,1,0,0

In [111]:
feature_data = pd.concat([feature_data, dummies], axis=1)
print(feature_data.shape)
feature_data.head()

(11688, 32)

,temperature_2m,apparent_temperature,precipitation,cloudcover,is_day,Date_hour,date,weekday,hour,hour_sin,...,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Fall,Spring,Summer,Winter
19704,1.6,-3.4,0.2,86.0,0,2022-04-01T00,2022-04-01,Friday,0,0.000000,...,0,0,0,0,0,0,0,1,0,0
19705,1.1,-4.6,0.5,100.0,0,2022-04-01T01,2022-04-01,Friday,1,13.052619,...,0,0,0,0,0,0,0,1,0,0
19706,0.8,-4.9,0.6,98.0,0,2022-04-01T02,2022-04-01,Friday,2,25.881905,...,0,0,0,0,0,0,0,1,0,0
19707,0.7,-5.1,0.6,100.0,0,2022-04-01T03,2022-04-01,Friday,3,38.268343,...,0,0,0,0,0,0,0,1,0,0
19708,0.5,-5.3,0.7,100.0,0,2022-04-01T04,2022-04-01,Friday,4,50.000000,...,0,0,0,0,0,0,0,1,0,0

The following code merges the bicycle data with the weather data to get a train set:

In [112]:
all_data = feature_data.merge(bicycle_data, on = "Date_hour")
train_data = all_data[(all_data["Date_hour"] < min(test_rawdata["Date_hour"])) & (all_data["Date_hour"] > "2022")]
print(train_data.shape)
print(min(train_data["Date_hour"]))
print(max(train_data["Date_hour"]))
train_data.head()

(10943, 38)
2022-04-01T00
2023-06-30T23

,temperature_2m,apparent_temperature,precipitation,cloudcover,is_day,Date_hour,date,weekday,hour,hour_sin,...,Fall,Spring,Summer,Winter,Datum,Totaal,Totaal_IK,Totaal_ZPL,Totaal_V,Totaal_GD
0,1.6,-3.4,0.2,86.0,0,2022-04-01T00,2022-04-01,Friday,0,0.000000,...,0,1,0,0,2022-04-01,137.0,57,25.0,72,63.0
1,1.1,-4.6,0.5,100.0,0,2022-04-01T01,2022-04-01,Friday,1,13.052619,...,0,1,0,0,2022-04-01,89.0,36,16.0,28,26.0
2,0.8,-4.9,0.6,98.0,0,2022-04-01T02,2022-04-01,Friday,2,25.881905,...,0,1,0,0,2022-04-01,49.0,24,12.0,22,21.0
3,0.7,-5.1,0.6,100.0,0,2022-04-01T03,2022-04-01,Friday,3,38.268343,...,0,1,0,0,2022-04-01,41.0,24,6.0,5,13.0
4,0.5,-5.3,0.7,100.0,0,2022-04-01T04,2022-04-01,Friday,4,50.000000,...,0,1,0,0,2022-04-01,48.0,14,7.0,17,11.0

The following does the same but then for the test set:

In [113]:
test_data = test_rawdata.merge(feature_data, on = "Date_hour", how = 'left')
test_data = test_data.merge(bicycle_data[["Totaal_IK", "Totaal_ZPL", "Totaal_V", "Totaal_GD", "Date_hour"]], on = "Date_hour", how = 'left')
print(test_data.shape)
test_data.head()

(744, 37)

,Id,Date_hour,temperature_2m,apparent_temperature,precipitation,cloudcover,is_day,date,weekday,hour,...,Tuesday,Wednesday,Fall,Spring,Summer,Winter,Totaal_IK,Totaal_ZPL,Totaal_V,Totaal_GD
0,0,2023-07-01T00,18.0,15.7,0.0,100.0,0,2023-07-01,Saturday,0,...,0,0,0,0,1,0,54,59.0,151,116.0
1,1,2023-07-01T01,17.7,15.3,0.0,100.0,0,2023-07-01,Saturday,1,...,0,0,0,0,1,0,29,56.0,128,72.0
2,2,2023-07-01T02,17.4,15.0,0.0,100.0,0,2023-07-01,Saturday,2,...,0,0,0,0,1,0,36,44.0,54,42.0
3,3,2023-07-01T03,17.2,15.0,0.0,100.0,0,2023-07-01,Saturday,3,...,0,0,0,0,1,0,9,44.0,55,27.0
4,4,2023-07-01T04,17.1,15.3,0.0,100.0,1,2023-07-01,Saturday,4,...,0,0,0,0,1,0,18,19.0,24,22.0

In [114]:
gtest_data = test_rawdata.merge(bicycle_data[["Totaal", "Date_hour"]], on = "Date_hour", how = 'left')
print(gtest_data.shape)
gtest_data.head()

(744, 3)

   Id      Date_hour  Totaal
0   0  2023-07-01T00   150.0
1   1  2023-07-01T01    92.0
2   2  2023-07-01T02    49.0
3   3  2023-07-01T03    36.0
4   4  2023-07-01T04    57.0

## Preprocessing and setup

### Load packages

In [115]:
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import cross_val_score, KFold, GridSearchCV
from sklearn.linear_model import Lasso, Ridge, LinearRegression, PoissonRegressor, TweedieRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, HistGradientBoostingRegressor
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor

### Feature Selection

In [116]:
all_features = list(train_data.select_dtypes(include='number').columns)
elements_to_remove = ["Totaal", "Winter", "Fall", "Spring", "Summer", "month"]
all_features = [feature for feature in all_features if feature not in elements_to_remove]
print(all_features)

['temperature_2m', 'apparent_temperature', 'precipitation', 'cloudcover', 'is_day', 'hour', 'hour_sin', 'is_school_hours', 'is_weekend', 'is_university_lessons', 'is_Ghent_event', 'is_public_holiday', 'is_bridge_day', 'is_school_holiday', 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday', 'Totaal_IK', 'Totaal_ZPL', 'Totaal_V', 'Totaal_GD']

In [117]:
bike_features = ['Totaal_IK', 'Totaal_ZPL', 'Totaal_V', 'Totaal_GD']

### Pairwise Plot

In [118]:
# plot_features = ['temperature_2m', 'is_day', 'is_weekend', 'hour', 'is_public_holiday', 'is_school_holiday', 'is_school_hours']
# sns.pairplot(all_data.loc[:,plot_features + ['Totaal']])

### Functions

In [119]:
# Function to compute MSE
def compute_MSE(y_true, y_predicted):
    """Obtain MSE between true y's and predicted y's"""
    return(np.mean((y_true-y_predicted)**2))

In [120]:
def plot_diff(y_train, y_hat_train, y_test, y_hat_test):
    y_test_reset = y_test.reset_index()
    indices = y_test_reset.index.to_list()
    time = np.divide(indices, max(indices))*31
    logdiff_test = np.log10(y_hat_test - y_test)

    plt.plot(time, logdiff_test, 'bo')
    plt.xlabel('Day')
    plt.ylabel('log10(y_hat_test - y_test)')
    plt.grid(True)
    plt.show()

    y_train_reset = y_train.reset_index()
    indices = y_train_reset.index.to_list()
    time = np.divide(indices, max(indices))*6+1
    logdiff_train = np.log10(y_hat_train - y_train)

    plt.plot(time, logdiff_train, 'bo')
    plt.xlabel('Month')
    plt.ylabel('log10(y_hat_train - y_train)')
    plt.grid(True)
    plt.show()

In [121]:
def nested_kfold_cv(model_to_tune, param_grid, data, target):

    # Declare the inner and outer cross-validation strategies
    inner_cv = KFold(n_splits=5, shuffle=True, random_state=0)
    outer_cv = KFold(n_splits=3, shuffle=True, random_state=0)

    # Inner cross-validation for parameter search
    model = GridSearchCV(
        estimator=model_to_tune, param_grid=param_grid, cv=inner_cv, n_jobs=2, scoring = 'r2'
    )

    # Outer cross-validation to compute the testing score
    test_score = cross_val_score(model, data, target, cv=outer_cv, n_jobs=2)
    print(
        "The mean score using nested cross-validation is: "
        f"{test_score.mean():.3f} Â± {test_score.std():.3f}"
    )

    model.fit(data, target)

    best_params = model.best_params_

    print(f"The best parameters found are: {best_params}")

    return best_params

In [122]:
def save_predictions(model, test_data, y_hat_test):
    file = pd.DataFrame([test_data.loc[:, "Id"], y_hat_test]).T
    file.columns = ["Id", "Predicted"]
    file.to_csv("input/bicycle-counter-prediction/predictions/" + model + ".csv", index = False)

### Regularization hyperparameter estimation

In [123]:
X_train = train_data.loc[:, all_features]
y_train = train_data["Totaal"]

X_train.head()

,temperature_2m,apparent_temperature,precipitation,cloudcover,is_day,hour,hour_sin,is_school_hours,is_weekend,is_university_lessons,...,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Totaal_IK,Totaal_ZPL,Totaal_V,Totaal_GD
0,1.6,-3.4,0.2,86.0,0,0,0.000000,0,0,0,...,0,0,0,0,0,0,57,25.0,72,63.0
1,1.1,-4.6,0.5,100.0,0,1,13.052619,0,0,0,...,0,0,0,0,0,0,36,16.0,28,26.0
2,0.8,-4.9,0.6,98.0,0,2,25.881905,0,0,0,...,0,0,0,0,0,0,24,12.0,22,21.0
3,0.7,-5.1,0.6,100.0,0,3,38.268343,0,0,0,...,0,0,0,0,0,0,24,6.0,5,13.0
4,0.5,-5.3,0.7,100.0,0,4,50.000000,0,0,0,...,0,0,0,0,0,0,14,7.0,17,11.0

In [241]:
scaler = StandardScaler()
scaler.fit(X_train)

model_to_tune = Lasso()
param_grid = {"alpha": np.arange(0.001, 0.01, 0.001)}

best_params = nested_kfold_cv(model_to_tune, param_grid, scaler.transform(X_train), y_train)

alpha_lasso = best_params["alpha"]

The mean score using nested cross-validation is: 0.892 Â± 0.005
The best parameters found are: {'alpha': 0.009000000000000001}

## Models

### Linear Regression

In [202]:
X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

LinReg = make_pipeline(StandardScaler(), SelectFromModel(Lasso()), LinearRegression()) # call an instance of the class LinearRegression

LinReg.fit(X_train, y_train) # fit the model on the training data
y_hat_train = LinReg.predict(X_train) # predict training data

y_hat_test = LinReg.predict(X_test) # predict test data

R_train = LinReg.score(X_train, y_train) # Training set RÂ²
R_test = LinReg.score(X_test, y_test) # Test set RÂ²

best_features = X_train.columns[LinReg.named_steps['selectfrommodel'].get_support()]

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))
print('Best features: {}'.format(best_features))

Train set RÂ²: 0.9046653861591072
Test set RÂ²: 0.7915592583617127
Best features: Index(['precipitation', 'cloudcover', 'is_day', 'hour', 'hour_sin',
       'is_weekend', 'is_public_holiday', 'is_bridge_day', 'is_school_holiday',
       'Friday', 'Saturday', 'Thursday', 'Wednesday', 'Totaal_IK',
       'Totaal_ZPL', 'Totaal_V', 'Totaal_GD'],
      dtype='object')

### Poisson Regression

In [160]:
X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

pipeline = make_pipeline(StandardScaler(), SelectFromModel(Lasso()), PoissonRegressor()) # call an instance of the class LinearRegression

pipeline.fit(X_train, y_train) # fit the model on the training data
y_hat_train = pipeline.predict(X_train) # predict training data

y_hat_test = pipeline.predict(X_test) # predict test data

R_train = r2_score(y_train, y_hat_train) # Training set RÂ²
R_test = r2_score(y_test, y_hat_test) # Test set RÂ²

best_features = X_train.columns[pipeline.named_steps['selectfrommodel'].get_support()]

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))
print('Best features: {}'.format(best_features))

Train set RÂ²: 0.7953026131280605
Test set RÂ²: 0.7893923191767591
Best features: Index(['precipitation', 'cloudcover', 'is_day', 'hour', 'hour_sin',
       'is_school_hours', 'is_weekend', 'is_public_holiday', 'is_bridge_day',
       'is_school_holiday', 'Friday', 'Saturday', 'Thursday', 'Wednesday',
       'Totaal_IK', 'Totaal_ZPL', 'Totaal_V', 'Totaal_GD', 'Totaal_GB'],
      dtype='object')

### Negative binomial regression

In [102]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

formula = 'Totaal ~ temperature_2m * is_day * hour_sin + is_weekend + is_public_holiday + is_school_holiday + is_school_hours' 

# Create the model
NBReg = smf.glm(formula=formula, data=train_data, family=sm.families.NegativeBinomial())

results = NBReg.fit()

y_hat_train = results.predict(X_train) # predict training data

y_hat_test = results.predict(X_test) # predict test data

R_train = r2_score(y_train, y_hat_train) # Training set RÂ²
R_test = r2_score(y_test, y_hat_test) # Test set RÂ²

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))

print(results.summary())

Train set RÂ²: 0.5100695545527163
Test set RÂ²: 0.5527065967355017
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 Totaal   No. Observations:                20445
Model:                            GLM   Df Residuals:                    20433
Model Family:        NegativeBinomial   Df Model:                           11
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.2997e+05
Date:                Sat, 21 Oct 2023   Deviance:                       14120.
Time:                        14:45:30   Pearson chi2:                 1.44e+04
No. Iterations:                    13   Pseudo R-squ. (CS):             0.4639
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                          4.9527      0.021    239.484      0.000       4.912       4.993
temperature_2m                     0.0017      0.002      0.902      0.367      -0.002       0.005
is_day                             0.6568      0.035     18.520      0.000       0.587       0.726
temperature_2m:is_day              0.0122      0.002      4.970      0.000       0.007       0.017
hour_sin                          -0.5651      0.028    -20.135      0.000      -0.620      -0.510
temperature_2m:hour_sin           -0.0444      0.003    -16.081      0.000      -0.050      -0.039
is_day:hour_sin                    0.5361      0.044     12.082      0.000       0.449       0.623
temperature_2m:is_day:hour_sin     0.0305      0.004      8.556      0.000       0.024       0.038
is_weekend                        -0.6494      0.016    -41.573      0.000      -0.680      -0.619
is_public_holiday                 -0.3263      0.038     -8.512      0.000      -0.401      -0.251
is_school_holiday                 -0.4291      0.017    -25.557      0.000      -0.462      -0.396
is_school_hours                    0.5097      0.022     23.416      0.000       0.467       0.552
==================================================================================================

### Tweedie Regression

In [161]:
from sklearn.linear_model import TweedieRegressor

X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

TweReg = make_pipeline(StandardScaler(), SelectFromModel(Lasso()), TweedieRegressor()) # call an instance of the class LinearRegression

TweReg.fit(X_train, y_train) # fit the model on the training data
y_hat_train = TweReg.predict(X_train) # predict training data

y_hat_test = TweReg.predict(X_test) # predict test data

R_train = TweReg.score(X_train, y_train) # Training set RÂ²
R_test = TweReg.score(X_test, y_test) # Test set RÂ²

best_features = X_train.columns[TweReg.named_steps['selectfrommodel'].get_support()]

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))
print('Best features: {}'.format(best_features))

Train set RÂ²: 0.8693268242960195
Test set RÂ²: 0.7952636475418445
Best features: Index(['precipitation', 'cloudcover', 'is_day', 'hour', 'hour_sin',
       'is_school_hours', 'is_weekend', 'is_public_holiday', 'is_bridge_day',
       'is_school_holiday', 'Friday', 'Saturday', 'Thursday', 'Wednesday',
       'Totaal_IK', 'Totaal_ZPL', 'Totaal_V', 'Totaal_GD', 'Totaal_GB'],
      dtype='object')

### Ridge Regression

In [163]:
from sklearn.linear_model import Ridge 

X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

RidReg = make_pipeline(StandardScaler(), Ridge()) # call an instance of the class LinearRegression

RidReg.fit(X_train, y_train) # fit the model on the training data
y_hat_train = RidReg.predict(X_train) # predict training data

y_hat_test = RidReg.predict(X_test) # predict test data

R_train = RidReg.score(X_train, y_train) # Training set RÂ²
R_test = RidReg.score(X_test, y_test) # Test set RÂ²

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))

Train set RÂ²: 0.9055711439045476
Test set RÂ²: 0.8086359941923366

### Lasso Regression

In [162]:
from sklearn.linear_model import Lasso 

X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

LaReg = make_pipeline(StandardScaler(), Lasso()) # call an instance of the class LinearRegression

LaReg.fit(X_train, y_train) # fit the model on the training data
y_hat_train = LaReg.predict(X_train) # predict training data

y_hat_test = LaReg.predict(X_test) # predict test data

R_train = LaReg.score(X_train, y_train) # Training set RÂ²
R_test = LaReg.score(X_test, y_test) # Test set RÂ²

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))

Train set RÂ²: 0.9052533631602844
Test set RÂ²: 0.8088250059441476

### SVM Regression

In [246]:
from sklearn.svm import SVR

X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

SVMReg = make_pipeline(StandardScaler(), SelectFromModel(Ridge()), SVR()) # call an instance of the class LinearRegression

SVMReg.fit(X_train, y_train) # fit the model on the training data

y_hat_train = SVMReg.predict(X_train) # predict training data

y_hat_test = SVMReg.predict(X_test) # predict test data

R_train = SVMReg.score(X_train, y_train) # Training set RÂ²
R_test = SVMReg.score(X_test, y_test) # Test set RÂ²

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))

KeyboardInterrupt:

### Gaussion Process Regression

In [250]:
from sklearn.gaussian_process import GaussianProcessRegressor

X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

GPReg = make_pipeline(StandardScaler(), SelectFromModel(Ridge()), GaussianProcessRegressor()) # call an instance of the class LinearRegression

GPReg.fit(X_train, y_train) # fit the model on the training data

y_hat_train = GPReg.predict(X_train) # predict training data

y_hat_test = GPReg.predict(X_test) # predict test data

R_train = GPReg.score(X_train, y_train) # Training set RÂ²
R_test = GPReg.score(X_test, y_test) # Test set RÂ²

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))

### Decision Tree Regression

In [191]:
X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

pipeline = make_pipeline(StandardScaler(), SelectFromModel(Lasso()), DecisionTreeRegressor())

pipeline.fit(X_train, y_train) # fit the model on the training data
y_hat_train = pipeline.predict(X_train) # predict training data

y_hat_test = pipeline.predict(X_test) # predict test data

R_train = pipeline.score(X_train, y_train) # Training set RÂ²
R_test = pipeline.score(X_test, y_test) # Test set RÂ²

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))

Train set RÂ²: 1.0
Test set RÂ²: 0.6740201870969134

### Random Forest Regression

In [33]:
selector = make_pipeline(StandardScaler(), SelectFromModel(Lasso(alpha = alpha_lasso)))
selector.fit(X_train, y_train)

model_to_tune = RandomForestRegressor()
param_grid = {"n_estimators": np.arange(100, 500, 100)}

best_params = nested_kfold_cv(model_to_tune, param_grid, selector.transform(X_train), y_train)

n_estimators_RF = best_params["n_estimators"]

d:\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.398e+05, tolerance: 1.607e+05
  model = cd_fast.enet_coordinate_descent(

In [164]:
X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

pipeline = make_pipeline(StandardScaler(), SelectFromModel(Lasso()), RandomForestRegressor(n_estimators = 100))

pipeline.fit(X_train, y_train) # fit the model on the training data
y_hat_train = pipeline.predict(X_train) # predict training data

y_hat_test = pipeline.predict(X_test) # predict test data

R_train = pipeline.score(X_train, y_train) # Training set RÂ²
R_test = pipeline.score(X_test, y_test) # Test set RÂ²

best_features = X_train.columns[pipeline.named_steps['selectfrommodel'].get_support()]

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))
print('Best features: {}'.format(best_features))

#plot_diff(y_train, y_hat_train, y_test, y_hat_test)

save_predictions("RFReg", test_data, y_hat_test)

Train set RÂ²: 0.9876270097768061
Test set RÂ²: 0.8324216619321135
Best features: Index(['precipitation', 'cloudcover', 'is_day', 'hour', 'hour_sin',
       'is_school_hours', 'is_weekend', 'is_public_holiday', 'is_bridge_day',
       'is_school_holiday', 'Friday', 'Saturday', 'Thursday', 'Wednesday',
       'Totaal_IK', 'Totaal_ZPL', 'Totaal_V', 'Totaal_GD', 'Totaal_GB'],
      dtype='object')

### Gradient Boosting Regression

In [112]:
selector = make_pipeline(StandardScaler(), SelectFromModel(Lasso(alpha = alpha_lasso)))
selector.fit(X_train, y_train)

model_to_tune = GradientBoostingRegressor()
param_grid = {"max_depth": np.arange(1, 10, 1)}

best_params = nested_kfold_cv(model_to_tune, param_grid, selector.transform(X_train), y_train)

max_depth_GB = best_params["max_depth"]
#n_estimators_GB = best_params["n_estimators"]
#learning_rate_GB = best_params["learning_rate"]

d:\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.398e+05, tolerance: 1.607e+05
  model = cd_fast.enet_coordinate_descent(

The mean score using nested cross-validation is: 0.904 Â± 0.002
The best parameters found are: {'max_depth': 9}

KeyError: 'n_estimators'

In [125]:
X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

pipeline = make_pipeline(StandardScaler(), SelectFromModel(Lasso(alpha = 0.009)), GradientBoostingRegressor(max_depth = 8, learning_rate = 0.10, n_estimators = 100))

pipeline.fit(X_train, y_train)

y_hat_train = pipeline.predict(X_train) # predict training data

y_hat_test = pipeline.predict(X_test) # predict test data

R_train = pipeline.score(X_train, y_train) # Training set RÂ²
R_test = pipeline.score(X_test, y_test) # Test set RÂ²

best_features = X_train.columns[pipeline.named_steps['selectfrommodel'].get_support()]
feature_importances = pipeline.named_steps['gradientboostingregressor'].feature_importances_
feature_matrix = pd.DataFrame(data = {"feature_importances": feature_importances, "best_features": best_features}).sort_values(by = "feature_importances", ascending = False)

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))
print(feature_matrix)

save_predictions("GBReg", test_data, y_hat_test)

Train set RÂ²: 0.9902089038537158
Test set RÂ²: 0.9200941237960037
    feature_importances         best_features
21             0.651251             Totaal_GD
18             0.196754             Totaal_IK
19             0.079496            Totaal_ZPL
20             0.023842              Totaal_V
1              0.010702  apparent_temperature
0              0.008639        temperature_2m
8              0.005109            is_weekend
5              0.004850                  hour
11             0.004799     is_school_holiday
3              0.004036            cloudcover
6              0.002296              hour_sin
2              0.001697         precipitation
13             0.001500                Monday
12             0.000866                Friday
16             0.000858               Tuesday
10             0.000828         is_bridge_day
15             0.000719              Thursday
4              0.000631                is_day
9              0.000458     is_public_holiday
17             0.000351             Wednesday
14             0.000177              Saturday
7              0.000141       is_school_hours

### Histogram Gradient Boosting Regression

In [80]:
selector = make_pipeline(StandardScaler(), SelectFromModel(Lasso(alpha = alpha_lasso)))
selector.fit(X_train, y_train)

model_to_tune = HistGradientBoostingRegressor()
param_grid = {"max_depth": np.arange(1, 12, 1),
              "learning_rate": np.arange(0.01, 0.3, 0.01)}

best_params = nested_kfold_cv(model_to_tune, param_grid, selector.transform(X_train), y_train)

max_depth_HGB = best_params["max_depth"]
learning_rate_HGB = best_params["learning_rate"]

d:\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.400e+05, tolerance: 1.607e+05
  model = cd_fast.enet_coordinate_descent(

In [32]:
X_train = train_data.loc[:, all_features]
X_test = test_data.loc[:, all_features]

y_train = train_data["Totaal"]
y_test = gtest_data["Totaal"]

pipeline = make_pipeline(StandardScaler(), SelectFromModel(Lasso(alpha = 0.009)), HistGradientBoostingRegressor(max_depth = 10))

pipeline.fit(X_train, y_train) # fit the model on the training data
y_hat_train = pipeline.predict(X_train) # predict training data

y_hat_test = pipeline.predict(X_test) # predict test data

R_train = pipeline.score(X_train, y_train) # Training set RÂ²
R_test = pipeline.score(X_test, y_test) # Test set RÂ²

best_features = X_train.columns[pipeline.named_steps['selectfrommodel'].get_support()]

print('Train set RÂ²: {}'.format(R_train))
print('Test set RÂ²: {}'.format(R_test))
print('Best features: {}'.format(best_features))

save_predictions("HGBReg", test_data, y_hat_test)

Train set RÂ²: 0.921760942325615
Test set RÂ²: 0.8880812123297257
Best features: Index(['Totaal_IK', 'Totaal_ZPL', 'Totaal_V', 'Totaal_GD'], dtype='object')